{% extends "layouts/base.html" %}

{% block title %}
   Panier | Details
{% endblock %}

{% block content %}
<p class="text-2xl f-italic f-bold text-center p-4 back-marron coul-anti border marg-bot b-radius">PANIER</p>

<div class="shopping-cart ">
    <p class="text-2xl f-italic f-bold text-center">DETAILS {{name}}</p>
    <div style="height: 30vh;">

    </div>
    <div class="cart-subtotal flex justify-between">
        <h3>Total</h3>
        <p> 0 FCFA</p>
    </div>
    {% if name=="PANIER" %}
    <a href="/shop" class="continue-shopping">Continuer l'achat ?</a>
    {% endif %}
</div>
<script src="{{url_for('static',filename='css/script.js')}}"></script>
{% endblock content%}